In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Object Creation
Create a Series by passing list of values with default integer

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

Create a DataFrame by passing NumPy array, with a datetime index and labeled columns

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index= list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})
df2

The columns of the resulting DataFrame have different dtypes

In [ ]:
df2.dtypes

# Viewing Data
Here is how to view the top and bottom rows of the frame:

In [ ]:
df.head()

In [ ]:
df.tail(3)

Display the index, columns and underlying NumPy data.

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

describe() shows a quick statistical summary of the data.

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

Sorting by an axis:

In [ ]:
df.sort_index(axis=1, ascending=False)

Sorting by values:

In [ ]:
df.sort_values(by='B')

# Selection

Use optimized pandas data access methods: .at, .iat, .loc and .iloc
## Getting

Selecting a single column, yeilding a Series equivalent of df.A

In [ ]:
df['A']

Selecting via [], which slices the rows.

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

Selection by Label
For getting a cross section using a label

In [ ]:
df.loc[dates[0]]

Selecing on a multi-axis by label:

In [ ]:
df.loc[:, ['A', 'B']]

Showing label slicing, both endpoints are _included_

In [ ]:
df.loc['20130102': '20130105', ['A', 'B']]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc['20130102', ['A', 'B']]

For getting a scalar value:

In [ ]:
df.loc[dates[0], 'A']

For getting fast access to a scalar (eqauivalent to prior method):

In [ ]:
df.at[dates[0], 'A']

Selection by Position

Select via the position of the passed integers:

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[3:5, 0:2]

By lists of integer position locations, similar to numpy/python style:

In [ ]:
df.iloc[[1,2,4], [0,2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1,1]

# Boolean Indexing

Using a single column's values to select data

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met

In [ ]:
df[df > 0]

Using the isin() method for flitering

In [ ]:
df2 = df.copy()

df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

df2

In [ ]:
df2[df2['E'].isin(['two', 'four'])]

# Setting
Setting a new column automatically aligns the data by the indexes

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1
df

Setting values by label:

In [ ]:
df.at[dates[0], 'A'] = 0

df

Setting values by position:

In [ ]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:,'D'] = np.array(([5]) * len(df))

In [ ]:
df

A _where_ operation with setting:

In [ ]:
df2 = df.copy()

df2[df2 > 0] = -df2
df2

# Missing Data

Re-indexing allows you to change/add/elete the index on a specified axis. This returns a copy of the data

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1

In [ ]:
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

Fill missing data:

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are _nan_

In [ ]:
pd.isna(df1)

# Operations
## Stats
Operations in general _exclude_ missing data.  
  
Performing a descriptive statistic.

In [ ]:
df.mean()

Same operation on another axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically boradcasts along the specified dimension.

In [ ]:
s = pd.Series([1,3,5,np.nan, 6,8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis='index')

# Apply
Applying functions to the data

In [ ]:
df

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

# Histogramming

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

# String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operae on each element of the array, as in the code snippet below. Not that the pattern-matching in str generally uses regular expressions by default.

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

# Merge
## Concat
pandas provides various facilities for easily combining together Series, DataFrame and Panel objects with various set logic for the indexes and relational algebra functionality in the case of join / merge-type operations

Concatenating pandas objects together with concat():

In [ ]:
df = pd.DataFrame(np.random.randn(10,4))

df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

## Join
SQL syle merges

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

Another example can be given as

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

## Append
Appends rows to a dataframe.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=list('ABCD'))
df

In [ ]:
df

In [ ]:
s = df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

# Grouping
By "group by" we are refering to a process involving one or more of following steps:
* **Splitting** the data into gropus based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                    'foo', 'bar', 'foo', 'foo'],
              'B': ['one', 'one', 'two', 'three',
                    'two', 'two', 'one', 'three'],
              'C': np.random.randn(8),
              'D': np.random.randn(8)})
df

Grouping and then applying the sum() function to the resulting groups

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a heirarchical index, and again we can apply the sum function

In [ ]:
df.groupby(['A', 'B']).sum()

# Reshaping
## Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 
            'foo', 'foo', 'qux', 'qux'],
           ['one','two', 'one', 'two', 'one', 'two', 'one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A', 'B'])
df

In [ ]:
df2 = df[:4]
df2

The stack() method 'compresses' a level in the DataFrames' columns

In [ ]:
stacked = df2.stack()
stacked

With a 'stacked' DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level.

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

## Pivot Tables

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
              'B': ['A', 'B', 'C'] * 4,
              'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
              'D': np.random.randn(12),
              'E': np.random.randn(12)})
df

We can product pivot tables from this data very easily

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

## Time Series
pandas has simple, powerful and efficient functionality for performing resampling operations and during frequency conversion (e.g. converting second data into 5-minute data).

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [ ]:
ts.resample('5Min').sum()

In [ ]:
ts.resample('5min').mean()

In [ ]:
ts.resample('5min').ohlc()

In [ ]:
ts.resample('5min').max()

In [ ]:
ts.max()

For downsampling _closed_ can be set to 'left' or 'right' to specify which end of the interval is closed

In [ ]:
ts.resample('5Min', closed='right').mean()

In [ ]:
ts[:59].mean()

<b>Note</b> - don't forget to check out https://elitedatascience.com/imbalanced-classes - for use cases of upsampling / downsampling / random forest algo

Time zone representation

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

Converting to another timezone

In [ ]:
ts_utc.tz_convert('Asia/Calcutta')

Converting between timespan representations:

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts[:5]

In [ ]:
ts.index = (prng.asfreq('M', 'e')+1).asfreq('H', 's') + 9
ts.head()

## Categoricals
pandas can include categorical data in a DataFrame

In [ ]:
df = pd.DataFrame({'id': [1,2,3,4,5,6], 'raw_grade' : list('abbaae')})
df

Convert the raw grades to a categorical data type

In [ ]:
df['grade'] = df.raw_grade.astype('category')
df.grade

Rename the categories to meaningful names (assigning to Series.cat.categories is inplace!)

In [ ]:
df.grade.cat.categories = ['Very Good', 'Good', 'Very Bad']
df.grade

Reorder the categories and simultaneously add the missing categories (methods under Series.cat return a new Series by default)

In [ ]:
df.grade = df.grade.cat.set_categories(['Very Bad', 'Bad', 'Medium', 'Good', 'Very Good' ])
df.grade

Sorting is per order in the categories, not lexical order

In [ ]:
df.sort_values(by='grade')

Grouping by categorical column also shows empty categories

In [ ]:
df.groupby('grade').size()

# Plotting

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()  # Generates random plot!!

ts.plot()

On a DataFrame, the plot() method is a convenience to plot all the column with labels

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
             columns=list('ABCD'))
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')