# Requests Check

In [10]:
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [ ]:
import requests
r = requests.get('https://www.python.org')
r

# Filtering rows by column value

In [2]:
import pandas as pd
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
movies.shape

In [ ]:
type(False)

In [ ]:
# Create python list of booleans with the same length of the dataframe. 
#Boolean will be true if it is > 200 mins and false if others
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [ ]:
booleans[0:5]

In [ ]:
len(booleans)

In [ ]:
# convert booleans list to a pandas series
is_long = pd.Series(booleans)

In [ ]:
is_long.head()

In [ ]:
# pass is_long to the dataframe movies with bracket notation
movies[is_long].head()

#It shows up dataframe with all columns but only shows those with duration > 200 mins

In [ ]:
# There is a shorter way - without the for loop.

#Instead:

In [ ]:
# This completely replaces the need for a 'for' loop.
is_long = movies.duration >= 200 # Series (movies.duration)  ... comparison >=200 and returns series of trues and falses
is_long.head()

In [ ]:
movies[is_long].head()

In [ ]:
# We can eliminate is_long itself
movies[movies.duration >=200].head()

In [ ]:
# If we are studying only the genre of the movies
# you can use dot notation

movies[movies.duration >=200].genre

# or in bracket notations
movies[movies['duration'] >=200]['genre']

#The above code may sometimes cause strange behaviour. Not the best way to do things.
#better practice is to use the .loc method

In [ ]:
# use .loc with a comma
movies.loc[movies['duration'] >=200, 'genre']

#.loc allows selection of rows and columns by 'label'
# in the above movies['duration'] >= 200 are the rows and 'genre' are the columns

## ...For Multiple filter criteria

In [ ]:
import pandas as pd
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [ ]:
movies[movies.duration >= 200]

In [ ]:
# how do we select only long movies of genre Drama?

In [ ]:
True and True

In [ ]:
movies[movies.duration >= 200 and movies.genre == 'Drama'] # will not work

In [ ]:
# add parenthesis to add evaluation order
# add ampersand & instead of and

movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

In [ ]:
# or condition - gives a much bigger dataframe
movies[(movies.duration >= 200) | (movies.genre == 'Drama')].head()
movies[(movies.duration >= 200) | (movies.genre == 'Drama')].shape

In [ ]:
# inside the bracket there is a boolean series which tells dataframe which rows display
((movies.duration >= 200) & (movies.genre == 'Drama'))[:5]

In [ ]:
# what if there is a bunch of or conditions on the same series
# either crime or drama or action
# normally
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head()

In [ ]:
# the above is very wordy.
# to simplify we can use a series method called 'isin'
# it generates a boolean series
movies.genre.isin(['Crime', 'Drama', 'Action'])[:5]

In [ ]:
# The above series can be passed to the DataFrame
movies[movies.genre.isin(['Crime', 'Drama', 'Action'])].head()

# Web Scraping

In [8]:
%%time
# Scraping all HTMLs table from a URL using BeautifulSoup
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://www.5paisa.com/5pit/spma.asp", verify=False)
soup = BeautifulSoup(res.content, 'lxml')
table = soup.find_all('table')
df = pd.read_html(str(table))
df

C:\Users\kashir\AppData\Local\Continuum\anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

Wall time: 1.79 s

In [9]:
df

[                   0                        1
 0  Margin Calculator  Span Margin May 4, 2018,
              0      1       2        3        4              5             6   \
 0        Symbol   Mlot  SpMgn%  ExpMgn%  TotMgn%  SpMgnPerShare  ExpMgnPerShr
 1    PCJEWELLER   1500   40.21    31.04    71.25          44.56       34.3923
 2    JPASSOCIAT  34000   14.78    21.69    36.47           2.92        4.2838
 3          RCOM  28000    15.6    20.54    36.14           2.52        3.3172
 4           IRB   2500      11       20       31          29.81          54.2
 5    BALRAMCHIN   3500   13.71       15    28.71           9.16         10.02
 6        RNAVAL   9000   20.05     7.21    27.26           3.62        1.3014
 7    JETAIRWAYS   1200   10.76       15    25.76          63.86       88.9575
 8      JUSTDIAL   1400   12.31    13.38    25.69          50.25       54.5837
 9          DHFL   1500    8.32       15    23.32          54.32       97.9275
 10     INDIAVIX    900   16.88        5    21.88       216.3594       64.0875
 11     INDIAVIX    900   16.88        5    21.88       216.3594       64.0875
 12     INDIAVIX    900   16.88        5    21.88         216.43       64.0875
 13      RAYMOND    800    7.71     12.5    20.21          86.68      140.4375
 14     GMRINFRA  45000   11.04      8.1    19.14           2.22        1.6281
 15   WOCKPHARMA    900    8.27       10    18.27          67.52          81.6
 16     NIITTECH    750   13.04        5    18.04         144.48       55.3575
 17   CENTURYTEX    550   10.49      7.5    17.99         120.26       85.9725
 18     ADANIENT   4000   12.99        5    17.99          16.81        6.4675
 19          HCC  15000   12.82        5    17.82           3.02        1.1775
 20   ANDHRABANK  10000   11.81        5    16.81           4.53        1.9175
 21    REPCOHOME    900   11.39        5    16.39          67.27        29.525
 22   NATIONALUM   8000   11.08        5    16.08           8.86        3.9975
 23     HINDALCO   3500   11.01        5    16.01          25.28        11.475
 24         SAIL  12000   10.85        5    15.85           7.96         3.665
 25        CANBK   1600   10.85        5    15.85             28        12.895
 26     MINDTREE   1200    10.8        5     15.8         114.01        52.775
 27     SREINFRA   5000   10.79        5    15.79           9.06         4.195
 28   ORIENTBANK   6000   10.76        5    15.76           9.67        4.4925
 29         IDBI  10000   10.76        5    15.76           7.05         3.275
 ..          ...    ...     ...      ...      ...            ...           ...
 188         IGL   2750     7.5        5     12.5          21.17        14.095
 189  IBULHSGFIN    400     7.5        5     12.5          97.97       65.2625
 190  HINDUNILVR    600     7.5        5     12.5         111.08       74.0125
 191  HEROMOTOCO    200     7.5        5     12.5         276.38      184.0225
 192    HDFCBANK    500     7.5        5     12.5         148.17        98.775
 193     HAVELLS   1000     7.5        5     12.5          41.02        27.315
 194    GRANULES   5000     7.5        5     12.5           8.06        5.3675
 195    GLENMARK    900     7.5        5     12.5          41.53       27.6775
 196  ENGINERSIN   3500     7.5        5     12.5          11.69        7.7875
 197   EICHERMOT     25     7.5        5     12.5           2302     1533.0525
 198   DALMIABHA    300     7.5        5     12.5         223.77         149.1
 199      CONCOR    625     7.5        5     12.5         100.19        66.775
 200      COLPAL    700     7.5        5     12.5          85.27         56.82
 201    CHOLAFIN    500     7.5        5     12.5         129.22       86.0975
 202   BRITANNIA    200     7.5        5     12.5         409.23       272.695
 203    BOSCHLTD     25     7.5        5     12.5        1473.16      981.7925
 204      BIOCON    900     7.5        5     12.5           50.1        33.375
 205  BALKRISIND    800     7.5        5     12.5          93.94         62.57
 206  BAJFINANCE    500     7.5        5     12.5         143.84       95.8575
 207  BAJAJFINSV    125     7.5        5     12.5         410.14       273.165
 208      ARVIND   2000     7.5        5     12.5          30.74       20.4925
 209   AMBUJACEM   2500     7.5        5     12.5          18.55       12.3525
 210  AJANTPHARM    500     7.5        5     12.5          101.3       67.5025
 211   NIFTYCPSE    250       5        5       10          119.7      119.5875
 212     NIFTYIT     50    5.01        3     8.01         691.64        413.88
 213    NIFTYPSE    200       5        3        8         191.15       114.624
 214  NIFTYMID50    200       5        3        8         269.77       161.802
 215  NIFTYINFRA    225       5        3        8            175       104.943
 216       NIFTY     75       5        3        8         537.03       322.182
 217   BANKNIFTY     40       5        3        8        1282.28       769.311

                7           8            9            10
 0    TotMgnPerShr  SpMgnPerLt  ExpMgnPerLt  TotMgnPerLt
 1         78.9523       66840     51588.48    118428.48
 2          7.2038       99280    145648.35    244928.35
 3          5.8372       70560     92881.88    163441.88
 4           84.01       74525       135500       210025
 5           19.18       32060        35070        67130
 6          4.9214       32580    11712.645    44292.645
 7        152.8175       76632       106749       183381
 8        104.8337       70350    76417.194   146767.194
 9        152.2475       81480    146891.25    228371.25
 10       280.5175   194723.46     57678.75    252465.75
 11       280.5175   194723.46     57678.75    252465.75
 12       280.5175      194787     57678.75    252465.75
 13       227.1175       69344       112350       181694
 14         3.8481       99900      73264.5     173164.5
 15         149.12       60768        73440       134208
 16       199.8375      108360    41518.125   149878.125
 17       206.2325       66143    47284.875   113427.875
 18        23.2775       67240        25870        93110
 19         4.1975       45300      17662.5      62962.5
 20         6.4475       45300        19175        64475
 21         96.795       60543      26572.5      87115.5
 22        12.8575       70880        31980       102860
 23         36.755       88480      40162.5     128642.5
 24         11.625       95520        43980       139500
 25         40.895       44800        20632        65432
 26        166.785      136812        63330       200142
 27         13.255       45300        20975        66275
 28        14.1625       58020        26955        84975
 29         10.325       70500        32750       103250
 ..            ...         ...          ...          ...
 188        35.265       58218     38761.25     96979.25
 189      163.2325       39188        26105        65293
 190      185.0925       66648      44407.5     111055.5
 191      460.4025       55276      36804.5      92080.5
 192       246.945       74085      49387.5     123472.5
 193        68.335       41020        27315        68335
 194       13.4275       40300      26837.5      67137.5
 195       69.2075       37377     24909.75     62286.75
 196       19.4775       40915     27256.25     68171.25
 197     3835.0525       57550   38326.3125   95876.3125
 198        372.87       67131        44730       111861
 199       166.965       62619    41734.375   104353.375
 200        142.09       59689        39774        99463
 201      215.3175       64610     43048.75    107658.75
 202       681.925       81846        54539       136385
 203     2454.9525       36829   24544.8125   61373.8125
 204        83.475       45090      30037.5      75127.5
 205        156.51       75152        50056       125208
 206      239.6975       71920     47928.75    119848.75
 207       683.305       51268    34145.625    85413.625
 208       51.2325       61480        40985       102465
 209       30.9025       46375     30881.25     77256.25
 210      168.8025       50650     33751.25     84401.25
 211      239.2875       29925    29896.875    59821.875
 212       1105.52       34582        20694        55276
 213       305.774       38230      22924.8      61154.8
 214       431.572       53954      32360.4      86314.4
 215       279.943       39375    23612.175    62987.175
 216       859.212       40277     24163.65     64440.65
 217      2051.591       51291     30772.44     82063.44

 [218 rows x 11 columns]]

In [ ]:
# %%time
# Scraping an HTML table into pandas
import pandas as pd
url = "https://www.5paisa.com/5pit/spma.asp"
df = pd.read_html(url)[1]
df

In [ ]:
from lxml import etree, html
import requests

url = "https://finance.google.com/finance?q=NSE:PFC"

page = requests.get(url)
root = html.fromstring(page.content)
dividend = float(root.findall('.//table')[2].text_content().strip().split("\n")[2].split('/')[0])
dividend

# Use of loc and iloc

In [ ]:
## Pandas Index
## ...from Data School - ref: https://www.youtube.com/watch?v=OYZNk7Z9s6I
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
drinks.head()

In [ ]:
drinks.index

In [ ]:
drinks.columns

In [ ]:
drinks.shape

In [ ]:
pd.read_table('http://bit.ly/movieusers', header = None, sep = '|').head()

In [ ]:
drinks[drinks.continent == 'South America']

In [ ]:
drinks.loc[23, 'beer_servings']

In [ ]:
drinks.set_index('country', inplace=True)
drinks.head()

In [ ]:
drinks.index

In [ ]:
drinks.columns

In [ ]:
drinks.shape

In [ ]:
drinks.loc['Brazil', 'beer_servings']

In [ ]:
drinks.index.name = None
drinks.head()

In [ ]:
drinks.index.name = 'country'

In [ ]:
drinks.reset_index(inplace = True)

In [ ]:
drinks.head()

In [ ]:
drinks.describe()

In [ ]:
drinks.describe().loc['25%', 'beer_servings']

In [ ]:
drinks.head()

In [ ]:
drinks.continent.head()

In [ ]:
drinks.set_index('country', inplace=True)

In [ ]:
drinks.head()

In [ ]:
drinks.continent.head()

In [ ]:
drinks.continent.value_counts()

In [ ]:
drinks.continent.value_counts()['Africa']

In [ ]:
drinks.continent.value_counts().sort_values()

In [ ]:
drinks.continent.value_counts().sort_index()

In [ ]:
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name = 'population')
people

In [ ]:
drinks.beer_servings * people

In [ ]:
pd.concat([drinks, people], axis=1).head()

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
drinks.head()

In [ ]:
drinks.info()

In [ ]:
drinks.info(memory_usage = 'deep')

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks.memory_usage(deep=True).sum()

In [ ]:
sorted(drinks.continent.unique())

In [ ]:
drinks.continent.head()

In [ ]:
drinks['continent'] = drinks.continent.astype('category')

In [ ]:
drinks.dtypes

In [ ]:
drinks.continent.head()

In [ ]:
drinks.continent.cat.codes.head()

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks['country'] = drinks.country.astype('category')

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks.country.cat.categories

# Handling date and time in python

In [ ]:
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [ ]:
# Analyze sightings by year or time
# Check the dtypes
ufo.dtypes # time column shows an object - in this case a string

In [ ]:
ufo.Time.str.slice(-5, -3).head()  #outputs as a string

In [ ]:
ufo.Time.str.slice(-5, -3).astype(int).head()

In [ ]:
# the above approach is very brittle. It easily breaks
# overwrite the time column. Overwrite the Time column.
ufo['Time'] = pd.to_datetime(ufo.Time)

In [ ]:
ufo.head()

In [ ]:
# real thing that's changed is dtype is now datetime
ufo.dtypes

In [ ]:
# pandas just figures out the date. If not, there are lot of options in to_datetime
ufo.Time.dt.hour # Pulls out the hour
ufo.Time.dt.weekday_name[:4] # Pulls out the name of the week!
# Search the reference page for '.dt.'

In [ ]:
# Let's pass a string instead of a series
pd.to_datetime('1/1/1999') #outputs a timestamp. Did not have to specify month and year

In [ ]:
ts = pd.to_datetime('1/1/1999') # Save it for comparison

In [ ]:
ufo.loc[ufo.Time >= ts, :].head() #only shows othe ufo's sighted after 1/1/1999

In [ ]:
# can do math operations
ufo.Time.max() # Latest timestamp in the time series

In [ ]:
ufo.Time.max() - ufo.Time.min() # time delta object tells the difference

In [ ]:
#timedelta objects have attributes like .days
(ufo.Time.max() - ufo.Time.min()).days

In [ ]:
# no of ufo reports by year. Plot!
%matplotlib inline
ufo['Year'] = ufo.Time.dt.year

In [ ]:
ufo.head()

In [ ]:
ufo.Year.value_counts().sort_index().plot()  #sort by order of index

# Handling inputs in date format
Following code converts any text input to appropriate date format

In [1]:
from datetime import datetime
from dateutil.parser import parse

while True:
    expiry = input('Expiry: ')
    try:
        parse(expiry)
    except ValueError:
        print("Enter date in any proper format")
    expiry = parse(expiry)
    break

expiry

Expiry: May 13, 2018

datetime.datetime(2018, 5, 13, 0, 0)

# Vectorize

In [ ]:
import pandas as pd
import numpy as np
import requests

# x = ['~', 'A', 'Sun']   # Works
x = ['~', 'Walter', 'A', 'Sun'] # Doesn't work because of Walter 
df = pd.DataFrame(x, columns=['x'])

u = "https://en.wikipedia.org/wiki/"

df['URL'] = u + df['x']

def tbl10(u):
    html = requests.get(u).content
    tbl = pd.read_html(u)[10]
    return tbl

v = np.vectorize(tbl10)
pd.concat(v(df.URL))

# Try-Except Error detection

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        pass
        print("Oops! That was no valid number. Try again...")

# Examples of where

In [ ]:
import pandas as pd, numpy as np
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df

In [ ]:
m = df % 3 == 0
m

# Map and Apply experiments

In [ ]:
import pandas as pd
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

In [ ]:
#translate sex to 1 and 0 using map
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})

In [ ]:
#compare sex and sex num
train.loc[0:4, ['Sex', 'Sex_num']]

In [ ]:
#use apply method for a function
train['Name_len'] = train.Name.apply(len)

train.loc[0:4, ['Name', 'Name_len']]

In [ ]:
import numpy as np
train['Fare_ceil'] = train.Fare.apply(np.ceil)

train.loc[0:4, ['Fare', 'Fare_ceil']]

train.Name.str.split(',').head()

In [ ]:
def get_element(my_list, position):
    return my_list[position]

train.Name.str.split(',').apply(get_element, position=0).head()

In [ ]:
train.Name.str.split(',').apply(lambda x: x[0]).head()

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0)

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1)

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float).head()

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings']=drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float)

drinks.head()

# Experiments with arguments

In [ ]:
def varargs(*args):
    return args

varargs(1,2,3)

In [ ]:
def keyword_args(**kwargs):
    return kwargs

keyword_args(big="foot", loch="ness")

In [ ]:
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

all_the_args(1, 2, a=3, b=4)

In [ ]:
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)

In [ ]:
all_the_args(*kwargs)

In [ ]:
all_the_args(**kwargs)

In [ ]:
all_the_args(*args, **kwargs)